:root {
  --primary-color: rgb(9, 0, 34);
  --secondry-color: rgb(35, 0, 72);
  --frame-color: rgb(255, 255, 255);
  --hover-color: rgb(0, 156, 228);
  --border-radius: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondry-color);
  margin: 0;
  height: 100vh;
  overflow: hidden;
  padding-top: 2vh;
  user-select: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -45px;
    font-size: 12px;
    opacity: 1 !important
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.toolbar {
  width: 90%;
  height: 7vh;
  margin-right: auto;
  margin-left: auto;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-type {
  display: flex;
  justify-content: space-evenly;
  width: 8vw;
  height: 100%;
}

.type {
  margin: 15px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rec .icon {
  height: 100%;
  aspect-ratio: 1/1;
  border: white solid 2px;
  pointer-events: none;
}

.cir .icon {
  height: 100%;
  aspect-ratio: 1/1;
  border: white solid 2px;
  border-radius: 50%;
  pointer-events: none;
}

.selected-type {
  transition: 0.3s;
  border: var(--hover-color) solid 2px !important;
}

.vr-line {
  height: 75%;
  width: 0.07vw;
  background-color: white;
  margin: 0 10px;
}

.select-options {
  display: flex;
  width: 12vw;
  height: 100%;
  justify-content: space-evenly;
}

.option {
  margin: 15px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.option img{
    transition: 0.3s;
    opacity: 0.3 ;
}

.selected-option {
  opacity: 1 !important;
}

.option img {
  height: 120%;
  pointer-events: none;
}

.select-img {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  height: 100%;
}

.select {
  display: flex;
  align-items: center;
  color: white;
}

.select h5 {
  margin-right: 15px;
}

.img-selection {
  width: 3.2vw;
  text-align: center;
  background-color: black;
  padding: 10px 20px ;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
}

.selected-img {
  background-color: var(--hover-color);
}

.img-selection:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.img-selection:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.bigger-container {
  width: 95%;
  background-color: var(--primary-color);
  display: flex;
  margin: 20px auto;
  padding: 5px;
  border-radius: var(--border-radius);
}

.container {
  position: relative;
  left: 0;
  display: flex;
  width: 50vw;
  height: 75vh;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 7px;
}

.original-canvas {
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translate(-50.5%, -50%);
  width: 99.5%;
  height: 99.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.canv-cont {
  width: 49.5%;
  height: 49.5%;
  background-color: var(--secondry-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  object-fit: contain;
  position: relative;
}

.upload-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 83%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-img .frame {
  width: 93%;
  height: 90%;
  border: dashed 1px var(--frame-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--frame-color);
  font-size: 30px;
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.hide-frame {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

canvas {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.reduce-opacity {
  opacity: 0.4;
}

.canv-cont input {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1/1;
  filter: opacity(0);
}

.canv-cont:hover .upload-img .frame {
  border: solid 1px var(--hover-color);
  color: var(--hover-color);
}

.output-container {
  width: 45vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}

.output {
  background-color: var(--secondry-color);
  width: 100%;
  height: 85%;
  border-radius: var(--border-radius);
}

.output-container .btns {
  width: 100%;
  padding: 5px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}

.show-result-btn {
  background-color: var(--hover-color);
  width: 25%;
  height: 40px;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 0 20px;
  line-height: 2.5;
  cursor: pointer;
  transition: 0.3s;
}

.show-result-btn:hover {
  background-color: var(--secondry-color);
}

.download-btn {
  color: var(--hover-color);
  cursor: pointer;
  transition: 0.3s;
}

.download-btn:hover {
  color: white;
}
